/*Side bar*/
#mainGroupBtns {
  background: white
}

#groupInformationText {
  display: block;
}

input[name="createGroupBtn"], input[name="viewGroupBtn"] {
  background: white;
  width: 49%;
  border-radius: 10px;
  height: 50px;
}

#createGroupInputs {
  background: white;
  margin: 5px 0 ;
  padding: 10px 0;
  display: none;
}

#groupDescripiton {
  max-width: 95%;
  max-height: 200px;
  margin: 0 1.5%;
}

input[name="createGroupBackBtn"] {
 margin-left: 10%;
 width: 40%;
 height: 40px;
}

input[name="submitCreateGroup"] {
  float: right;
  width: 40%;
  margin-right: 10%;
  height: 40px;
}

#viewGroupInputs {
  background: white;
  margin: 5px 0;
  padding: 20px 0;
  display: none;
}
form[name="viewGroupOptions"] {
  margin-left: 3px;
}
input[name="manageGroupBtn"], input[name="editGroupBtn"], input[name="rvmGroupBtn"] {
  width: 32%;
  height: 40px;
}

#groupNameInput {
  margin-top: 50px;
}

#inputOptions {
  background: white;
  margin: 5px 0;
  padding: 20px 0;
  display: none;
}

#inputOptions input[type="checkbox"] {
  float: right;
  margin-right: 10px;
}
.supportRight {
  position: relative;
  height: 800px;
}

#messageOutput {
  width: 95%;
  height: 550px;
  background: white;
  margin: 0 2.5%;
}

#groupSendBar {
  margin: 0 2.5%;
}

#groupSendBar input[name="inputMessage"] {
  width: 80%;
  height: 20px;
}

#sendMessage {
  width: 19%;
  height: 25px;
  margin-left: -6px;
}

#contactInfomationBtn {
  position: absolute;
  bottom: 0;
  background: red;
  background: -webkit-linear-gradient(#ff0000, #b30000); /* For Safari and IE*/
  background: -o-linear-gradient(#ff0000, #b30000); /* For Opera */
  background: -moz-linear-gradient(#ff0000, #b30000); /* For Firefox */
  background: linear-gradient(#ff0000, #b30000); /* Standard syntax */
  width: 100%;
  height: 100px;
}

#contactInformationTxt {
  text-align: center;
  padding-top: 18px;
  color: white;
  font-size: 20px;
}


/*Center*/
#houseGroupsOutput {
  width: 95%;
  height: 350px;
  background: white;
  margin: 0 2.5%;
}

form[name="houseNotesBtns"], form[name="houseNotesInputs"] {
  margin: 0 10%;
}

#createHouseNote, #editHouseNote, #deleteHouseNote {
  width: 32%;
  height: 40px;
}

#houseNotesOutput  {
  margin: 0 10%;
  max-width: 80%;
  max-height: 200px;
}
