.button {
  background: #C0C0C0;
  border: none;
  color: white;
  padding: 5% 7.5%;
  margin-top: 5%;
  margin-bottom: 2%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px;
}

#login input {
  margin: 3% 5% 0 13%;  /* Top, Right, Bottom, Left */
  border-radius: 5px;
}

#login {
 display: none;
}
