/*Side Menu*/
.sidemenu .profileSide #loadProfileImage {
  margin: 0 25%;
}

.sidemenu #uploadProfileImage {
  display: none;
  background: white;
}

#uploadImageForm {
  background: rgba(204, 204, 255, 0.8);
  margin: 0 5%;
}
.sidemenu #inputFileToLoad {
  display: block;
}

.sidemenu input[value="Choose Profile Picture"] {
  margin: 0 25%;
}
 .sidemenu #changeProfilePicture {
   margin: 0 25%;
   font-size: 15px;
 }
.sidemenu .profileSide .tableWrap {
  overflow-x: auto;
}
 .sidemenu .profileSide #myTable {
  margin-top: 5%;
  padding: 0 1%;
  border: 1px solid grey;
  box-shadow: 2px 2px 2px 2px #C0C0C0 inset;
  border-collapse: collapse;
  border-radius: 10px;
  display: block;
}

.sidemenu .profileSide td {
  border-bottom: 1px dotted black;
  padding: 0 2%;
  font-size: 16px;
}

.profileSide tr:nth-child(even) {
  background: #ccffff;
}

.profileSide tr:nth-child(odd){
  background: white;
}

.sidemenu .profileSide th {
  border-bottom: 1px dotted black;
  background: red;
  background: -webkit-linear-gradient(#ccffcc, #80ff80); /* For Safari and IE*/
  background: -o-linear-gradient(#ccffcc, #80ff80); /* For Opera */
  background: -moz-linear-gradient(#ccffcc, #80ff80); /* For Firefox */
  background: linear-gradient(#ccffcc, #80ff80); /* Standard syntax */
  font-size: 18px;
}
.profileSide input[value = "Change"]{
  margin-left: 4px;
}

#goToSupport {
  width: 50%;
  margin: 0 25%;
  margin-top: 50px;
  height: 50px;
  border-radius: 5px;
}

#basicTitle {display: none;}
#singleNameEdit {display: none;}
#singleUsernameEdit {display: none;}
#singlePasswordEdit {display: none;}
#singleEmailEdit {display: none;}
#singleMobileEdit {display: none;}
#singleHomeEdit {display: none;}
#singleAddressEdit {display: none;}

#uniTitle {display: none;}
#singleCourseEdit {display: none;}
#singleYearEdit {display: none;}
#singleHousingEdit {display: none;}

#aboutTitle {display: none;}
#singleHobbieEdit {display: none;}
#singleInterestEdit {display:none;}
#singleSocietyEdit {display: none;}

/*Right Bar*/

.rightmenu .profileRight h3 {
  text-decoration: underline;
}

.profileRight #groupNext {
  float: right;
  margin-right: 1%;
}

.profileGroupBackground {
  background: white;
  margin: 5px 0;
}

form[name="groupCreate"] {
  background: rgba(204, 204, 255, 0.8);
  margin: 0 5%;
  padding: 5px 0;
}

.groupAddBackgroud {
  background: rgba(204, 204, 255, 0.8);
  margin: 0 5%;
  padding-top: 10px;
  padding-bottom: 30px;
}

.rightmenu .profileRight input[name="friendAdd"] {
  float: right;
  margin-right: 1%;
}

 .profileRight input[name="saveGroup"] {
  float: right;
  margin-right: 10%;
}

.profileRight input[name="deleteGroup"] {
  float: right;
  margin-right: 5%;
}

.rightmenu .profileRight input[name="groupName"] {
  margin-left: 2.5%;
  width: 75%;
}

.rightmenu .profileRight input[name="addWho"] {
  margin-left: 7%;
}

.rightmenu .profileRight .groupContent {
  border: 1px solid grey;
  margin: 3% 10%;
  max-height: 150px;
  max-width: 75%;
}

.center .profileCenter h3 {
  text-decoration: underline;
  border-radius: 10px;
  width: 90px;
}


.profileCenter input[type="button"] {
  margin: 5% 10% 5% 10%;
  padding: 5px;
  width: 20%;
  font-size: 20px;
}

.profileCenter input[value="Done"] {
  float: right;
}

.center .profileCenter textarea {
  margin: 0 3%;
  margin-top: -2%;
  /* resize: none; */
  max-width: 75%;
  max-height: 300px;
}

/*Right panel*/

#hideWhoAdd {
  display: none;
}

#groupAdding {
  display: none;
}

#saveGroup {
  display: none;
}

#showCreatedGroups {
  float: right;
  margin: 0 2.5% 5% 2.5%;
}

#createdGroups {
  display: none;
  background: white;
}


#notesOutput, #rmvBtns{
  margin: 0 5%;
}

#removeNoteInput {
  font-size: 13px;
  width: 30%;
}

#removeNoteBtn, #createNoteBtn {
  width: 50%;
  font-size: 100%;
  margin: 0 5%;
}

#createNote {
  max-width: 88%;
  max-height: 100px;
  background: #ffff99;
}

#
/*Calendar*/
#cal {
    -moz-box-shadow:0px 3px 3px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow:0px 3px 3px rgba(0, 0, 0, 0.25);
    margin: 5% 10%;
    font: 15px/1.5 "Helvetica Neue", Helvatica, Arial, san-serif;
    display:table;
}


/*Header of calender*/
#cal .header {
    background: #c0c0c0;
    height: 30px;
    position: relative;
    color:#fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight:bold;
    text-shadow:0px -1px 0 #87260C;
    text-transform: uppercase;
}
#cal .header span {
    display:inline-block;
    line-height:30px;
}

/*Switching buttons*/

#cal .header .button {
    padding: 0;
    width: 10%;
    text-align:center;
    position:absolute;
}
#cal .header .left.button {
    top: -10;
    left:0;
    border-top-left-radius: 5px;
    border-right:1px solid grey;
}
#cal .header .right.button {
    right:0;
    top:0;
    border-left:1px solid grey;
    border-top-right-radius: 5px;
}
#cal .header .button:hover {
  background: blue;
}

/*Month label*/

#cal .header .month-year {
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
}

/*Day header*/

#cal table {
    background:#fff;
    border-collapse:collapse;
}
#cal td {
    color:#2b2b2b;
    width:100px;
    height:30px;
    line-height:30px;
    text-align:center;
    border:1px solid #e6e6e6;
}
#cal #days td {
    height:20px;
    line-height: 26px;
    text-transform:uppercase;
    font-size:90%;
    color:#9e9e9e;
}
#cal #days td:not(:last-child) {
    border-right:1px solid #fff;
}

#cal #cal-frame td.today {
    background:#ededed;
    color:#8c8c8c;
}

/*changes colour on hover of each cell*/

#cal #cal-frame td:not(.nil):hover {
    color:#fff;
    text-shadow: #6C1A07 0px -1px;
    background:#C0C0C0;
  }
