.registrationWrapping {
  background: #C0C0C0;
  margin: 0;
  border-radius: 10px;
}

.registrationMargin {
  margin: 1% 25%;
  padding: 1% 1%;
  background: #E4E4E4;
  box-shadow: 2px 3px 5px grey;
}

/*Side and Right*/
#registerSide, #registerCenter, #registerRight {
  background: white;
  height: 670px;
  }

#registerRight {

}

#registerCenterBackgroundFix, #backgroundFix {
  background: rgba(204, 204, 255, 0.8);
  margin: 0 5%;
  height: 670px;
}


.registrationForm {
  background: rgba(204, 204, 255, 0.8);
  margin: 0 5%;
  height: 670px;
}
.registrationForm h1 {
  text-decoration: underline;
}

.registrationForm input[type="text"], input[type="password"],input[type="number"] {
  margin-right: 10%;
  width: 50%;
  border-radius: 5px;
  float: right;
}

#registerGender input[type="radio"] {
  margin: 0 0 0 15%;
}

#smalltext {
  font-size: 13px;
}

#checkValidation {
  width: 40%;
  height: 30px;
  margin-top: 100px;
  margin: 0 30%;
  border-radius: 5px;
  background: white;
}

.registrationFormUni h1 {
  text-decoration: underline;
}

.aboutChoices {
  margin: 2.5%;
}



.registerTitle {
  background: red;
  background: -webkit-linear-gradient(#f2f2f2, 	#b3b3b3);/* For Safari and IE*/
  background: -o-linear-gradient(#f2f2f2, 	#b3b3b3); /* For Opera */
  background: -moz-linear-gradient(#f2f2f2, 	#b3b3b3); /* For Firefox */
  background: linear-gradient(#f2f2f2, 	#b3b3b3); /* Standard syntax */
  height: 100px;
  border-radius: 5px;
}


.registerTitle h2 {
  text-align: center;
  color: black;
  position: relative;
  top: 35px
}
/*Center*/
.registration input[type=submit] {
  margin: 0 25% 0 35%;
  width: 25%;
  height: 40px;
}

#centerSubTitles {
  text-align: center;
  border-bottom: 1px solid black;
}
.registrationFormAboutYourself input[type=text] {
  width: 80%;
}


.registrationFormAboutYourself input[type=checkbox] {
  margin-right: 10%;
  margin-left: 2%;
}

.required {
  color: #FF0000;
  font-size: 12px;
}

#FinishRegistration {
  width: 25%;
  height: 10%;
  font-size: 15px;
}

#reqname, #reqlname, #reqdob, #reqemail, #reqpass, #reqaddress, #reqpost,
#reqhome, #reqmobile, #reqsmoker, #reqsocial,#reqmess, #reqgym, #reqcourse,
#reqyear, #reqaccom, #reqbasic, #requni, #reqgender {display: none;}
#reqabout, #reqhobbie, #reqsociety, #reqinterest, #reqretypeemail {display: none;}


#registerRight input[type="text"] {
  margin: 0 12.5%;
  width: 75%;
  border-radius: 5px;
}
 #courseList {
  width: 75%;
  height: 30px;
  margin: 0 12.5%;
  font-size: 14px;
}

#StudyYear {
  width: 75%;
  height: 30px;
  margin: 0 12.5%;
  font-size: 14px;
}



#Accomodation {
  width: 70%;
  height: 30px;
  margin: 0 15%;
  font-size: 14px;
}

#hobbieList, #societyList {
  width: 90%;
  height: 30px;
  margin: 0 5%;
  font-size: 14px;
}



.registerSmoke {
  margin: 0 33%;
}

.registerSocial  input[type="radio"] {
  margin: 0 5 0 0;
}

#regsocial {
  margin: 0 15% 0 0;
}

#regsocial2 {
  margin-left: 15%;
    font-size: 13px;
}

.registerGym input[type="radio"] {
  margin: 0 15% 0 0;
}

.registerMess {
  margin: 0 30%;
}

.registerGym {
  margin: 0 10%;
}
