.registrationWrapping {
  background: #C0C0C0;
  margin: 0;
  border-radius: 10px;
}

.registrationMargin {
  margin: 1% 25%;
  padding: 1% 1%;
  background: #E4E4E4;
  box-shadow: 2px 3px 5px grey;
}
.registrationForm h1 {
  text-decoration: underline;
}
.registrationFormAboutYourself h1 {
  text-decoration: underline;
}
.registrationForm input {
  margin-right: 10%;
  width: 95%;
  border-radius: 5px;
}

.registrationFormAboutYourself input[type=text] {
  width: 80%;
}

.registrationFormUni h1 {
  text-decoration: underline;
}

.aboutChoices {
  margin: 2.5%;
}

.registration input[type=submit] {
  margin: 0 25% 0 35%;
  width: 25%;
  height: 40px;
}

.registrationFormAboutYourself input[type=checkbox] {
  margin-right: 10%;
  margin-left: 2%;
}

.required {
  color: #FF0000;
  font-size: 12px;
}

#FinishRegistration {
  width: 25%;
  height: 10%;
  font-size: 15px;
}

#reqname, #reqlname, #reqdob, #reqemail, #reqpass, #reqaddress, #reqpost,
#reqhome, #reqmobile, #reqsmoker, #reqsocial,#reqmess, #reqgym, #reqcourse,
#reqyear, #reqaccom, #reqbasic, #requni {display: none;}
#reqabout, #reqhobbie, #reqsociety, #reqinterest {display: none;}

#courseList {
  width: 65%;
}

#StudyYear {
  width: 65%;
}

#Accomodation {
  width: 65%;
}

#hobbieList {
  width: 65%;
}

#societyList {
  width: 65%;
}
