#main{
padding:15px;
margin:0 auto;
width: 265px;
border:2px double gray;
}
#result{
     width: 50%;
     border:1px solid gray;
     margin-top: -2px;
     border-bottom-width: 0px;
}
#result a{
     text-decoration:none;
     text-transform:capitalize;
     padding:5px;
}
.suggest_link{
     width: 50%;
background-color:#fff;
border-bottom:1px solid gray;
}
.small{
background-color:#fff;
border-bottom:1px solid gray;
}
.suggest_link_over{
background-color:#fff;
border-bottom:1px solid gray;
}
.suggest_link:hover{
background-color:#6d84b4;
border-bottom:1px solid gray;
}
.suggest_link_over:hover{
background-color:#6d84b4;
border-bottom:1px solid gray;
}  
