
#result{
     width:262px;
     border:1px solid gray;
     border-bottom-width: 0px;
}
#result a{
     text-decoration:none;
     text-transform:capitalize;
     padding:5px;
}
.suggest_link{
background-color; red;
border-bottom:1px solid gray;
}
.small{
     width: 60%;
     margin-left: 55px;
     background-color:white;
     border-bottom:1px solid  #c0c0c0;
     font-size: 18px;
}
.suggest_link_over{
background-color:blue;
border-bottom:1px solid gray;
}
.suggest_link:hover{
background-color:green;
border-bottom:1px solid gray;
}
.suggest_link_over:hover{
background-color:#6d84b4;
border-bottom:1px solid gray;
}  
