.supportCenter {
  padding-top: 2px;
  margin-top: 15px;
}
#messageField{
 background: white;
 width: 98%;
 height: 600px;
 margin: 0 1%;
}

#sendBar {
margin: 5px 1%;

}

#sendBar input[name="inputMessage"] {
  width: 80%;
  font-size: 15px;
}

#sendBar input[name="sendMessage"] {
  width: 18%;
  font-size: 25px;
}

.otherMessagingOptions {
  margin: 20px 12.5%;
}

#messageUserBtn {
  margin-right: 25%;
}

#messageGroupBtn {
  margin-left: 25%;
}

#messageUserBtn, #messageGroupBtn {
  font-size: 20px;
}

#messageGroupOptions {
  float: right;
  margin-top: 5px;
  display: none;
}
#messageUserOptions {
  margin-top: 5px;
  display: none;
}
.inboxs {
  margin: 10px 10%;
}



#userInbox {
  background: white;
  height: 700px;
  width: 90%;
  margin: 0 5%;
}
#
#
#
#
#
#
#



/* Message right bar */
.onlineFriends {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 5% 10%;
  width: 80%;
}

.socialSide th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  background: red;
}

.socialSide td {
  border-bottom: 1px dotted black;
  border-left: 1px solid black;
  padding: 10px;
  background: white;
}

.socialSide tr:nth-child(even){
  background: grey;
}
